{:paths ["src" "resources"]

 ;; Default deps use latest Flink version
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {;; Flink version-specific aliases - each includes the JDBC driver bundle
  :flink-1.18 {:extra-deps {org.apache.flink/flink-sql-jdbc-driver-bundle {:mvn/version "1.18.1"}}}
  :flink-1.19 {:extra-deps {org.apache.flink/flink-sql-jdbc-driver-bundle {:mvn/version "1.19.3"}}}
  :flink-1.20 {:extra-deps {org.apache.flink/flink-sql-jdbc-driver-bundle {:mvn/version "1.20.3"}}}
  :flink-2.1  {:extra-deps {org.apache.flink/flink-sql-jdbc-driver-bundle {:mvn/version "2.1.1"}}}

  ;; Default alias (latest stable)
  :flink-default {:extra-deps {org.apache.flink/flink-sql-jdbc-driver-bundle {:mvn/version "2.1.1"}}}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}}}
